

<span style="width:1em;" class="@text("border border-info m-1")">
    @Letter.ToString()
</span>

@code {

    private string text(string classes) => (Letter.IsUsed ? "text-muted" : "text-dark") + " " + classes;

    [Parameter]
    public Letter Letter { get; set; }
}
