
    <div class="card">
        <div class="card-body">
            <span  class="display-4 text-info">
                @Letter.ToString().ToUpper()
            </span>
        </div>
    </div>

  

    @code {

        [Parameter]
        public char Letter { get; set; }
    }
