
    <div class="row mt-3">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                @foreach (var word in Words)
                {
                    <WordPanel Word="word"></WordPanel>
                }

            </ul>
        </div>
    </div>

@code {

    [Parameter]
    public List<DictionaryWord> Words { get; set; }

}
