
<li class="list-group-item">
    <div class="media align-items-lg-center flex-column flex-lg-row">
        <div class="media-body">
            <div class="d-flex align-items-center justify-content-center">
                <span class="badge badge-pill badge-info mt-1">@Word.Length</span>
                <h6 class="font-weight-bold mr-4">
                    <a class="btn btn-link" href="@Word.Url">@Word.ToString()</a>
                </h6>
                <ul class="list-inline small">
                    @foreach (var i in Enumerable.Range(1, 5))
                    {
                        <li class="list-inline-item m-0"><i class="@DrawStar(i)"></i></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</li>

@code {

    private string DrawStar(int number)
    {
        if (Word.Stars() >= number)
        {
            return "fa fa-star text-success";
        }
        return "far fa-star text-success";
    }

    [Parameter]
    public DictionaryWord Word { get; set; }
}
