@page "/"
@inject NavigationManager navigationManager;

<div class="container">
    <div class="card-deck">

        <div class="card mt-4">
            <img src="/img/numbers.jpg" class="card-img-top" alt="numbers">
            <div class="card-body">
                <h5 class="card-title">Numbers</h5>
                <p class="card-text small">
                    The goal is to arrive at a chosen number (from 101 to 999) using the four basic arithmetic operations (+, -, ×, ÷)
                    applied to six numbers chosen randomly. You have to combine the numbers arithmetically with the goal of producing the target number.
                    You may use each of the six numbers originally selected once, and the result of each operation performed with them once.
                    It's mandatory to use all the numbers. All numbers used must be positive integers.
                </p>
                <a href="numbers" class="btn btn-outline-info">Play with numbers</a>
            </div>
        </div>

        <div class="card mt-4">
            <img src="/img/letters.jpg" class="card-img-top" alt="letters">
            <div class="card-body">
                <h5 class="card-title">Letters</h5>
                <p class="card-text small">
                    The goal is to find the longest word using 10 available letters. Type the words you find, and they will be saved if they exist in the dictionary
                </p>
                <a href="letters" class="btn btn-outline-info">Play with letters</a>
            </div>
        </div>
    </div>
</div>


@code
{
    protected override void OnInitialized()
    {

    }
}
