@page "/letters"
@inject IWordSearcher wordSearcher;
@inject LettersGamePreparer gamePreparer;

<div class="container">

    <div class="d-flex flex-wrap justify-content-center display-4 text-center">

        @foreach (var letter in game.AvaliableLetters.Letters)
        {
            <LetterPanel Letter="letter"></LetterPanel>
        }
    </div>

    <br />

    <InputWord AvaliableLetters="game.AvaliableLetters" OnWordFound="WordFound"></InputWord>

    <WordList Words="game.WordList"></WordList>
</div>

@code
{
    private LettersGame game;

    protected override void OnInitialized()
    {
        game = new LettersGame(gamePreparer);
    }

    private void WordFound(DictionaryWord typedWord)
    {
        game.AddWord(typedWord);
    }
}