

    @foreach (var item in List)
    {
   
            <h5 class="mb-1">@item.ToString() = <strong>@item.Operate()</strong></h5>
      
    }


@code {
    [Parameter]
    public List<Calculation> List { get; set; }
}
