


<div class="d-flex justify-content-start">

    @foreach (var number in Numbers)
    {
        <CalculatedNumber Number="number" OnNumberClicked="() => OnNumberClicked.InvokeAsync(number)"></CalculatedNumber>
    }

</div>


@code {
    [Parameter]
    public List<Calculator.CalculatedNumber> Numbers { get; set; }


    [Parameter]
    public EventCallback<Calculator.CalculatedNumber> OnNumberClicked { get; set; }

}
