<div class="d-flex align-items-center flex-column">
    <span class="small mb-1">Objetive</span>
    <span class="display-2 border border-dark px-3 pt-0 pb-2 bg-light">
        @Objective
    </span>
</div>


@code {
    [Parameter]
    public int Objective { get; set; }
}
